@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
	display: flex;
	flex-direction: column;
}

.loader {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: inline-block;
	border-top: 3px solid #050505;
	border-right: 3px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border-left: 3px solid #925fe2;
	border-bottom: 3px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
}
